<section id="skank" class="card artist" data-artist="SKANK_SCHABLONSKI">
  <div class="inner-block">
    <img class="artist__photo" src="artists/skank_schablonski/fotos/skank_main.png" alt="Skank Schablonski"/>
    <h3 class="subhead">Biografie</h3>
    <div class="bio" data-bio-id="bio-schablonski">
      <p class="bio-text collapsed">…</p>
    </div>
    <hr class="sandline"/>
    <div class="music-intro"><span class="music-label">Musik</span></div>

    <div class="track-list">
      <button class="track" type="button" data-release="merz">
        <div class="thumb"><img src="artists/skank_schablonski/cover/kohle_raus_cover.png" alt="Cover: Kohle raus"></div>
        <div class="track-meta"><span class="track-title">Kohle raus</span></div>
      </button>
    </div>

    <div class="album-panel" hidden>
      <div class="album-panel__inner">
        <div class="cover-frame square">
          <img class="album-panel__cover" alt="Album Cover">
        </div>
        <div class="album-panel__players"></div>
      </div>
    </div>
  </div>
</section>
