<section id="skaramush" class="card artist" data-artist="SKARAMUSH_VANDANGO">
  <div class="inner-block">
    <img class="artist__photo" src="artists/skaramush_vandango/fotos/skaramush_main.png" alt="SkaRamush Vandango"/>
    <h3 class="subhead">Biografie</h3>
    <div class="bio" data-bio-id="bio-skaramush">
      <p class="bio-text collapsed">…</p>
    </div>
    <hr class="sandline"/>
    <div class="music-intro"><span class="music-label">Musik</span></div>

    <div class="track-list">
      <button class="track" type="button" data-release="fire">
        <div class="thumb"><img src="artists/skaramush_vandango/cover/cover_fire.png" alt="Cover: Set the world on Fire"></div>
        <div class="track-meta"><span class="track-title">Set the world on Fire</span></div>
      </button>
    </div>

    <div class="album-panel" hidden>
      <div class="album-panel__inner">
        <div class="cover-frame square">
          <img class="album-panel__cover" alt="Album Cover">
        </div>
        <div class="album-panel__players"></div>
      </div>
    </div>
  </div>
</section>
